
/* Content layout */
.l-content {
	width: 100%;
	background-color: #e7e7e4;
	margin: 0 auto;
	padding: 2em 2em;
	box-sizing: border-box;
}

/* Title component */
.c-title {
	margin: 0;
}

/* List layout */
.l-list {
	padding: 1em 0;
}

/* List component */
.c-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.c-list__item {
	padding: 1em;
	background-color: #ffffff;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	margin: 1em 0;
}

.c-list__link {
	text-decoration: none;
	font-weight: bold;
	color: #474744;
	margin: 0 2em 0 0;
	padding: 0 2em 0 0;
}

.c-list__link:hover {
	color: #dffa45;
}

.c-list__button {
	background-color: #b62682;
	border: 1px solid #b62682;
	border-radius: 5px;
	color: #ffffff;
	padding: 0.5em 1em;
}

/* List button layout */
.l-list__button {
	padding: 0 0 0 1em;
	margin-left: auto;
}

@media(min-width: 768px) {
	.c-list__item {
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
	}

	.l-list__button {
		align-self: center;
	}
}

@media(min-width: 1000px) {
	.l-content {
		width: 940px;
	}
}